<br>
<div>
  
  <mat-card class="mat-elevation-z8">
    <!-- OVO RADI ZA SLIKU, NISTA NE MENJAJ!!! -->
    <img *ngIf="imageExists" src="{{ path }}" alt="{{ korisnik.korisnickoIme }}" width="150" height="150"><br>
    <img *ngIf="!imageExists" src="assets/img/DefaultProfile.png" alt="res/DefaultProfile.png" width="150" height="150"><br>
    <h3>{{ korisnik.korisnickoIme }}</h3>
    <div *ngIf="ulogovaniKorisnik.AT == 4">
    <br>
    <mat-form-field appearance="legacy">
      <mat-label>Nivo Autorizacije:</mat-label>
      <input matInput type="number" [(ngModel)]="korisnik.AT" value="{{ korisnik.AT }}" (ngModelChange)="onAuthChange()">
      <mat-hint align="start"><strong>0, 1 - gost<br>2 - korisnik<br>3 - moderator</strong></mat-hint>
      </mat-form-field>
      <br><br>
      <button mt-raised-button (click)='saveAuthChange()'>Sacuvaj</button>
    </div>
  </mat-card>
  <br>

  <mat-card class="mat-elevation-z8">
    <mat-form-field appearance="legacy">
      <mat-label>Ime:</mat-label>
      <input matInput [(ngModel)]="korisnik.ime" value="{{ korisnik.ime }}"
        disabled="{{ editDisabled }}">
    </mat-form-field>

    <mat-form-field appearance="legacy">
      <mat-label>Prezime:</mat-label>
      <input matInput [(ngModel)]="korisnik.prezime" value="{{ korisnik.prezime }}"
        disabled="{{ editDisabled }}">
    </mat-form-field>
    <br>

    <mat-form-field *ngIf="false" appearance="legacy">
      <mat-label>Datum Rodjenja:</mat-label>
      <input matInput [(ngModel)]="formatedDate" value="{{ formatedDate }}"
        disabled="{{ editDisabled }}">
    </mat-form-field>

    <mat-form-field *ngIf="true" appearance="legacy">
      <mat-label>Datum Rodjenja:</mat-label>
      <input matInput [matDatepicker]="picker" [(ngModel)]="formatedDate" disabled="{{ editDisabled }}">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="legacy">
      <mat-label>Grad:</mat-label>
      <input matInput [(ngModel)]="korisnik.grad" value="{{ korisnik.grad }}"
        disabled="{{ editDisabled }}">
    </mat-form-field>
    <br>

    <mat-form-field appearance="legacy">
      <mat-label>email:</mat-label>
      <input matInput [(ngModel)]="korisnik.email" value="{{ korisnik.email }}"
        disabled="{{ editDisabled }}">
    </mat-form-field>
    <br>

    <label>Last Active: OVDE DODAJ KADA JE POSLEDNJI PUT BIO LIVE</label><br>
    <label>Online: </label><span class="onlineIndicator"></span><br>
    <button mt-raised-button *ngIf="ulogovaniKorisnik.id == korisnik.id" (click)='editBtn()'>{{ editButtonLabel }}</button>
  </mat-card>
  <br>

  <mat-card *ngIf="showUserBooks" class="mat-elevation-z8">
    <table mat-table [dataSource]='tableDataArray[0]' class="specialTable">

      <ng-container matColumnDef="procitaneKnjige">
        <th mat-header-cell *matHeaderCellDef> Procitane knjige: </th>
        <td mat-cell *matCellDef="let obj">
          <a [routerLink]="" (click)='otvoriKnjigu(obj.id)'>{{ obj.naziv }}</a>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="booksTableReadColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: booksTableReadColumns;"></tr>
    </table>

    <table mat-table [dataSource]='tableDataArray[1]' class="specialTable">

      <ng-container matColumnDef="citamKnjige">
        <th mat-header-cell *matHeaderCellDef> Trenutno se citaju: </th>
        <td mat-cell *matCellDef="let obj">
          <a [routerLink]="" (click)='otvoriKnjigu(obj.id)'>{{ obj.naziv }}</a>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="booksTableReadingColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: booksTableReadingColumns;"></tr>
    </table>

    <table mat-table [dataSource]='tableDataArray[2]' class="specialTable">

      <ng-container matColumnDef="zaCitanjeKnjige">
        <th mat-header-cell *matHeaderCellDef> Za citanje: </th>
        <td mat-cell *matCellDef="let obj">
          <a [routerLink]="" (click)='otvoriKnjigu(obj.id)'>{{ obj.naziv }}</a>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="booksTableToReadColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: booksTableToReadColumns;"></tr>
    </table>

    <mat-paginator [length]="tableMaxLength" [pageSize]="tableSizeInitial" [pageSizeOptions]="tableSizeOptions" (page)="onPageChanged($event)">
    </mat-paginator>
  </mat-card>
  <br>

  <mat-card *ngIf="showUserComments" class="mat-elevation-z8">
    <table mat-table [dataSource]='userComments' class="specialTable">

      <ng-container matColumnDef="knjigaId">
        <th mat-header-cell *matHeaderCellDef> Knjiga: </th>
        <td mat-cell *matCellDef="let obj">
          <a [routerLink]="" (click)='otvoriKnjigu(obj.id)'>{{ obj.naziv }}</a>
        </td>
      </ng-container>

      <ng-container matColumnDef="komentar">
        <th mat-header-cell *matHeaderCellDef> Komentar: </th>
        <td mat-cell *matCellDef="let obj"> {{ obj.komentar }}</td>
      </ng-container>

      <ng-container matColumnDef="ocena">
        <th mat-header-cell *matHeaderCellDef> Ocena: </th>
        <td mat-cell *matCellDef="let obj"> {{ obj.ocena }}</td>
      </ng-container>

      <ng-container matColumnDef="zanr">
        <th mat-header-cell *matHeaderCellDef> Zanr: </th>
        <td mat-cell *matCellDef="let obj"> {{ obj.zanr }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="commentsTableColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: commentsTableColumns;"></tr>
    </table>
  </mat-card>
  <br>
</div>