<br>
<mat-card class="mat-elevation-z8">
    <img src="https://bit.ly/2G5Fz3u" alt="ninja" width="178" height="100"><br>

    <h3><b>{{ ucitanaKnjiga.naziv }}</b></h3>
    <div *ngIf="ulogovaniKorisnik.AT>0 && ucitanaKnjiga.odobrena">
        <mat-slide-toggle [(ngModel)]="procitao" (ngModelChange)="toggledProcitao()" [disabled]="procitao">Procitao</mat-slide-toggle>
        <mat-slide-toggle [(ngModel)]="isReadingBookInfo[2]" (ngModelChange)="toggledCita($event, true)" [disabled]="procitao">Trenutno citam</mat-slide-toggle>
        <mat-slide-toggle [(ngModel)]="zaCitanje" (ngModelChange)="toggledZaCitanje(true)" [disabled]="citam">Procitacu je</mat-slide-toggle>
    </div>
    <div *ngIf="isReadingBookInfo[2] && ucitanaKnjiga.odobrena">
        <br>
        <mat-progress-bar mode="determinate" [value]="isReadingBookInfo[1]/ucitanaKnjiga.brStrana*100"></mat-progress-bar>
        <input matInput type="number" appearance="textfield" [(ngModel)]="isReadingBookInfo[1]" (ngModelChange)="progressUpdated()" value="{{ isReadingBookInfo[1] }}">
        <label>od ukupno {{ ucitanaKnjiga.brStrana }} strana</label>
        <br>
    </div>
    <mat-divider></mat-divider>

    <label><b>Autor:</b></label>
    <label class="customLabel" *ngFor="let string of ucitanaKnjiga.autor">{{ string }}</label>
    <mat-divider></mat-divider><br>

    <label><b>Datum izdavanja:</b></label>
    <label class="customLabel">{{ ucitanaKnjiga.datumIzdavanja }}</label>
    <mat-divider></mat-divider><br>

    <label><b>Zanr:</b></label>
    <label class="customLabel" *ngFor="let string of ucitanaKnjiga.zanr">{{ string }}</label>
    <mat-divider></mat-divider><br>

    <label><b>Rezime:</b></label>
    <label class="customLabel">{{ ucitanaKnjiga.opis }}</label>
    <mat-divider></mat-divider><br>

    <label><b>Ocena:</b></label>
    <label class="customLabel">{{ ucitanaKnjiga.prosecnaOcena }}</label>
    <mat-divider></mat-divider><br>

    <table mat-table *ngIf="showTable" [dataSource]='commentsTableData' class="specialTable">

        <ng-container matColumnDef="korisnikId">
            <th mat-header-cell *matHeaderCellDef> Korisnik: </th>
            <td mat-cell *matCellDef="let obj; index as i">
                <a *ngIf="ulogovaniKorisnik.AT!=0" [routerLink]="" (click)='openUserTroughComments(obj.korisnikId)'>{{ commentsTableUserData[i] }}</a>
                <Label *ngIf="ulogovaniKorisnik.AT==0">Anonymous</Label>
            </td>
        </ng-container>

        <ng-container matColumnDef="ocena">
            <th mat-header-cell *matHeaderCellDef> Ocena: </th>
            <td mat-cell *matCellDef="let obj"> {{ obj.ocena }}</td>
        </ng-container>

        <ng-container matColumnDef="komentar">
            <th mat-header-cell *matHeaderCellDef> Komentar: </th>
            <td mat-cell *matCellDef="let obj"> {{ obj.komentar }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="commentsTableColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: commentsTableColumns;"></tr>
    </table>

    <div *ngIf="isReadingBookInfo[1]/ucitanaKnjiga.brStrana*100 > 50 && ucitanaKnjiga.odobrena && ulogovaniKorisnik.AT!=0">
        <br>
        <mat-divider></mat-divider>
        <h3><b>Ostavi komentar:</b></h3>
        <mat-form-field appearance="legacy">
            <mat-label>ocena:</mat-label>
            <input matInput type="number" appereance="textfield" [(ngModel)]="ocena" value="{{ ocena }}">
        </mat-form-field>
        <br>
        <mat-form-field appearance="legacy" class="customInput">
            <mat-label>Komentar:</mat-label>
            <input matInput type="text" [(ngModel)]="komentar" value="{{ komentar }}">
        </mat-form-field>
        <button mat-raised-button (click)="saveUserComment()">SACUVAJ</button>
        <br>
    </div>
</mat-card>