<div>
    <img src="https://bit.ly/2G5Fz3u" alt="ninja" width="178" height="100"><br>

    <h3><b>{{ ucitanaKnjiga.naziv }}</b></h3>
    <div *ngIf="ulogovaniKorisnik.AT>0 && ucitanaKnjiga.odobrena">
        <mat-slide-toggle [(ngModel)]="procitao" (ngModelChange)="saveChanges()" [disabled]="procitao">Procitao</mat-slide-toggle>
        <mat-slide-toggle [(ngModel)]="cita" (ngModelChange)="saveChanges()" [disabled]="procitao">Trenutno citam</mat-slide-toggle>
        <mat-slide-toggle [(ngModel)]="zaCitanje" (ngModelChange)="saveChanges()" [disabled]="procitao">Procitacu je</mat-slide-toggle>
    </div>
    <div *ngIf="cita && ucitanaKnjiga.odobrena">
        <br>
        <mat-progress-bar mode="determinate" [value]="progressValue/ucitanaKnjiga.brStrana*100"></mat-progress-bar>
        <input matInput type="text" appearance="textfield" [(ngModel)]="progressValue" value="{{ progressValue }}">
        <label>od ukupno {{ ucitanaKnjiga.brStrana }} stana</label>
        <br>
    </div>
    <mat-divider></mat-divider>

    <label><b>Autor:</b></label>
    <label class="customLabel" *ngFor="let string of ucitanaKnjiga.autor">{{ string }}</label>
    <mat-divider></mat-divider><br>

    <label><b>Datum izdavanja:</b></label>
    <label class="customLabel">{{ ucitanaKnjiga.datumIzdavanja }}</label>
    <mat-divider></mat-divider><br>

    <label><b>Zanr:</b></label>
    <label class="customLabel" *ngFor="let string of ucitanaKnjiga.zanr">{{ string }}</label>
    <mat-divider></mat-divider><br>

    <label><b>Rezime:</b></label>
    <label class="customLabel">{{ ucitanaKnjiga.opis }}</label>
    <mat-divider></mat-divider><br>

    <label><b>Ocena:</b></label>
    <label class="customLabel">{{ ucitanaKnjiga.prosecnaOcena }}</label>
    <mat-divider></mat-divider><br>

    <table mat-table *ngIf="showTable" [dataSource]='komentari' class="specialTable">

        <ng-container matColumnDef="korisnikId">
            <th mat-header-cell *matHeaderCellDef> Korisnik: </th>
            <td mat-cell *matCellDef="let Komentar">
                <a *ngIf="ulogovaniKorisnik.AT!=0" [routerLink]="" (click)='otvoriKorisnika(nadjiKorisnika(Komentar.korisnikId))'>{{ nadjiKorisnika(Komentar.korisnikId) }}</a>
                <Label *ngIf="ulogovaniKorisnik.AT==0">Anonymous</Label>
            </td>
        </ng-container>

        <ng-container matColumnDef="ocena">
            <th mat-header-cell *matHeaderCellDef> Ocena: </th>
            <td mat-cell *matCellDef="let Komentar"> {{ Komentar.ocena }}</td>
        </ng-container>

        <ng-container matColumnDef="komentar">
            <th mat-header-cell *matHeaderCellDef> Komentar: </th>
            <td mat-cell *matCellDef="let Komentar"> {{ Komentar.komentar }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="commentsTableColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: commentsTableColumns;"></tr>
    </table>

    <div *ngIf="progressValue/ucitanaKnjiga.brStrana*100 > 50 && ucitanaKnjiga.odobrena && ulogovaniKorisnik.AT!=0">
        <br>
        <mat-divider></mat-divider>
        <h3><b>Ostavi komentar:</b></h3>
        <mat-form-field appearance="legacy">
            <mat-label>ocena:</mat-label>
            <input matInput type="number" appereance="textfield" [(ngModel)]="ocena" value="{{ ocena }}">
        </mat-form-field>
        <br>
        <mat-form-field appearance="legacy" class="customInput">
            <mat-label>Komentar:</mat-label>
            <input matInput type="text" [(ngModel)]="komentar" value="{{ komentar }}">
        </mat-form-field>
        <button mat-raised-button (click)="sacuvajKomentar()">SACUVAJ</button>
        <br>
    </div>

    <br>
    <button mat-raised-button *ngIf="ulogovaniKorisnik.AT==2" (click)="odobriKnjigu()">Odobri knjigu</button>
</div>