<div id="mainContent">
    <div class="content">
        <br>
        <mat-card class="mat-elevation-z8">

            <mat-form-field appearance="legacy">
                <mat-label>Slika:</mat-label>
                <input matInput [(ngModel)]="korisnik.slika">
            </mat-form-field>
            <br>

            <mat-form-field appearance="legacy">
                <mat-label>Ime:</mat-label>
                <input matInput [(ngModel)]="korisnik.ime" placeholder="Milan" required>
            </mat-form-field>

            <mat-form-field appearance="legacy">
                <mat-label>Prezime:</mat-label>
                <input matInput [(ngModel)]="korisnik.prezime" placeholder="Milovanovic" required>
            </mat-form-field>
            <br>

            <mat-form-field appearance="legacy">
                <mat-label>Korisnicko Ime:</mat-label>
                <input matInput [(ngModel)]="korisnik.korisnickoIme" placeholder="mmilo123" required>
            </mat-form-field>

            <mat-form-field appearance="legacy">
                <mat-label>Lozinka:</mat-label>
                <input matInput [(ngModel)]="korisnik.lozinka" placeholder="********" type="password" required>
            </mat-form-field>
            <br>

            <mat-form-field appearance="legacy">
                <mat-label>Datum Rodjenja:</mat-label>
                <input matInput [matDatepicker]="picker" [(ngModel)]="korisnik.datumRodjenja" required>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <br>

            <mat-form-field appearance="legacy">
                <mat-label>Mesto Prebivanja:</mat-label>
                <input matInput [(ngModel)]="korisnik.grad" placeholder="Novi Sad" required>
            </mat-form-field>

            <mat-form-field appearance="legacy">
                <mat-label>Drzava Prebivanja:</mat-label>
                <input matInput [(ngModel)]="korisnik.drzava" placeholder="Srbija" required>
            </mat-form-field>
            <br>

            <mat-form-field appearance="legacy">
                <mat-label>email Adresa:</mat-label>
                <input matInput [(ngModel)]="korisnik.email" placeholder="milo998@gmail.com" required>
            </mat-form-field>
            <br>

            <button mat-raised-button (click)="register()"> Zavrsi registraciju </button><br>
            <button mat-raised-button (click)="back()">Nazad</button>
        </mat-card>
    </div>
</div>