<div>
    <div>
        <label>Ime:</label><br>
        <input type="text" [(ngModel)]="korisnik.ime" placeholder="Milan"><br>
    </div>
    <div>
        <label>Prezime:</label><br>
        <input type="text" [(ngModel)]="korisnik.prezime" placeholder="Milovanovic"><br>
    </div>
    <div>
        <label>Slika:</label><br>
        <input type="image" [(ngModel)]="korisnik.slika"><br>
    </div>
    <div>
        <label>Korisnicko Ime:</label><br>
        <input type="text" [(ngModel)]="korisnik.korisnickoIme" placeholder="mmilo123"><br>
    </div>
    <div>
        <label>Lozinka:</label><br>
        <input type="password" [(ngModel)]="korisnik.lozinka" placeholder="********"><br>
    </div>
    <div>
        <label>Datum Rodjenja:</label><br>
        <input type="date" [(ngModel)]="korisnik.datumRodjenja"><br>
    </div>
    <div>
        <label>Mesto Prebivanja:</label><br>
        <input type="text" [(ngModel)]="korisnik.grad" placeholder="Novi Sad"><br>
    </div>
    <div>
        <label>Drzava Prebivanja:</label><br>
        <input type="text" [(ngModel)]="korisnik.drzava" placeholder="Srbija"><br>
    </div>
    <div>
        <label>email Adresa:</label><br>
        <input type="email" [(ngModel)]="korisnik.email" placeholder="milo998@gmail.com"><br>
    </div>
    <button (click)="register()"> Zavrsi registraciju </button><br>
    <button (click)="back()">Nazad</button>
</div>
