<br>
<mat-card class="mat-elevation-z8">
    <mat-form-field appearance="legacy">
        <mat-label>Naziv:</mat-label>
        <input matInput [(ngModel)]="knjiga.naziv" value="{{ knjiga.naziv }}">
    </mat-form-field>

    <mat-form-field appearance="legacy">
        <mat-label>Autor:</mat-label>
        <input matInput [(ngModel)]="knjiga.autor" value="{{ knjiga.autor[0] }}">
    </mat-form-field>

    <mat-form-field appearance="legacy">
        <mat-label>Datum izdavanja:</mat-label>
        <input matInput [(ngModel)]="knjiga.datumIzdavanja" value="{{ knjiga.datumIzdavanja }}">
    </mat-form-field>

    <mat-form-field appearance="legacy">
        <mat-label>Zanr:</mat-label>
        <input matInput [(ngModel)]="knjiga.zanr" value="{{ knjiga.zanr[0] }}">
    </mat-form-field>

    <mat-form-field appearance="legacy">
        <mat-label>Kratak opis:</mat-label>
        <input matInput [(ngModel)]="knjiga.opis" value="{{ knjiga.opis }}">
    </mat-form-field>

    <mat-form-field appearance="legacy">
        <mat-label>Broj strana:</mat-label>
        <input matInput [(ngModel)]="knjiga.brStrana" value="{{ knjiga.brStrana }}">
    </mat-form-field>

    <button mat-raised-button (click)="dodajKnjigu()">Dodaj knjigu</button>
</mat-card>