<br>
<div class="content">
    <mat-card class="mat-elevation-z8">
        <mat-form-field appearance="legacy">
            <mat-label>Pretraga</mat-label>
            <input matInput [(ngModel)]="searchQuery" value="{{ searchQuery }}" (keydown.enter)="search()">
            <mat-icon matSuffix>search</mat-icon>
            <mat-hint>pretraga po parametru: {{ searchHint }}</mat-hint>
        </mat-form-field>
        <br><br>
        <mat-radio-group aria-label="Select">
            <mat-radio-button *ngFor="let string of hintParams" [value]="string" (change)="searchTypeSelect($event)"
                [checked]="hintParams[0] == string">{{ string }}</mat-radio-button>
        </mat-radio-group>
    </mat-card>
</div>