<mat-tab-group mat-align-tabs="center" [selectedIndex]="selectedTab.value"
    (selectedIndexChange)="selectedTab.setValue($event)">
    <mat-tab label="Knjige">
        <app-books-page *ngIf="selectedTab.value == 0" (onDestroy)="bookChildDestroyed($event)" (goToUser)="goToRequestedUser($event)"
        [requestedBook]="requestedBook"></app-books-page>
    </mat-tab>
    <mat-tab label="Desavanja"></mat-tab>
    <mat-tab label="Profil">
        <app-profiles-page *ngIf="selectedTab.value == 2" (onDestroy)="profileChildDestroyed($event)" (goToBook)="goToRequestedBook($event)"
        [requestedUser]="requestedUser"></app-profiles-page>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <span (click)='logOut()'>{{ logButton }}</span>
        </ng-template>
    </mat-tab>
</mat-tab-group>