.mat-button-base {
  margin: 8px 8px 8px 0;
}
  
.content {
  display: inline-block;
  width: 70%;
}
  
.mat-card {
  text-align: center;
}
  
#mainContent {
  text-align: center;
}

.mat-form-field {
  margin: 0px 5px 0px 5px;
}