<div id="mainContent">
    <div class="content">
        <br>
        <mat-card class="mat-elevation-z8">

            <!-- Ovde ti je input za sliku, ti menjaj ako treba-->
            <input type="file" (change)="onFileSelected($event)">
            <br>

            <img src="http:\\localhost:5000\\images\\ae024678-a0e6-4bbe-89a3-b5d451c106be\\image\\novi.png" />

            <mat-form-field appearance="legacy">
                <mat-label>Ime:</mat-label>
                <input matInput [(ngModel)]="korisnik.ime" required>
            </mat-form-field>

            <mat-form-field appearance="legacy">
                <mat-label>Prezime:</mat-label>
                <input matInput [(ngModel)]="korisnik.prezime" required>
            </mat-form-field>
            <br>

            <mat-form-field appearance="legacy">
                <mat-label>Korisnicko Ime:</mat-label>
                <input matInput [(ngModel)]="korisnik.korisnickoIme" required>
                <mat-error>Neispravno uneto korisnicko ime</mat-error>
            </mat-form-field>

            <mat-form-field appearance="legacy">
                <mat-label>Lozinka:</mat-label>
                <input matInput type="password" [(ngModel)]="korisnik.lozinka" required>
                <mat-error>Neispravno uneta lozinka</mat-error>
            </mat-form-field>
            <br>

            <mat-form-field appearance="legacy">
                <mat-label>Datum Rodjenja:</mat-label>
                <input matInput [matDatepicker]="picker" [(ngModel)]="korisnik.datumRodjenja" required>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <br>

            <mat-form-field appearance="legacy">
                <mat-label>Mesto Prebivanja:</mat-label>
                <input matInput [(ngModel)]="korisnik.grad" required>
            </mat-form-field>

            <mat-form-field appearance="legacy">
                <mat-label>Drzava Prebivanja:</mat-label>
                <input matInput [(ngModel)]="korisnik.drzava" required>
            </mat-form-field>
            <br>

            <mat-form-field appearance="legacy">
                <mat-label>email Adresa:</mat-label>
                <input matInput [(ngModel)]="korisnik.email" required>
                <mat-error>Neispravno unet email</mat-error>
            </mat-form-field>
            <br>

            <!--<div class="captcha">
                <ngx-recaptcha2 #captchaElem [siteKey]="siteKey" (success)="captchaCheck = true">
                </ngx-recaptcha2>
            </div>-->

            <!--<button mat-raised-button *ngIf="captchaCheck" (click)="register()"> Zavrsi registraciju </button><br>-->
            <button mat-raised-button *ngIf="true" (click)="register()"> Zavrsi registraciju </button><br>
            <button mat-raised-button (click)="back()">Nazad</button>
        </mat-card>
    </div>
</div>