<div class="content">
    <br>
    <mat-card class="mat-elevation-z8">
        <mat-form-field appearance="legacy">
            <mat-label>email:</mat-label>
            <input matInput [(ngModel)]="email" required [disabled]="emailAuthenticated">
            <mat-hint align="start">Unesite Vasu email adresu:</mat-hint>
        </mat-form-field>
        <br> <br>
        <button mat-raised-button *ngIf="!emailAuthenticated" (click)="sendEmail()">Posalji zahtev za promenu lozinke</button>

        <div *ngIf="emailAuthenticated">
            <mat-form-field appearance="legacy">
                <mat-label>Lozinka:</mat-label>
                <input matInput type="password" [(ngModel)]="novaLozinka" required>
                <mat-hint align="start">Unesite <b>novu</b> lozinku:</mat-hint>
            </mat-form-field>
            <br>

            <mat-form-field appearance="legacy">
                <mat-label>Lozinka:</mat-label>
                <input matInput type="password" [(ngModel)]="novaLozinka2" required>
                <mat-hint align="start">Unesite <b>ponovo novu</b> lozinku:</mat-hint>
            </mat-form-field>
            <br>
            <button mat-raised-button (click)="changePassword()">Sacuvaj novu lozinku</button>
        </div> 
        <br><br>
        <button mat-raised-button (click)="back()">Nazad</button>
    </mat-card>
</div>