<div class="content">
  <br *ngIf="AT==2">
  <button class="asd" mat-raised-button *ngIf="AT==2" (click)="dodajKnjige()">Dodaj knjige</button>
  <button class="asd" mat-raised-button *ngIf="AT==2" (click)="odobriKnjige()">Odobri knjige</button>
  <br *ngIf="AT==2">
  <app-search [searchParams]="showBooksTableParams" (showAddOption)="showAddBook=$event"></app-search>
  <app-table *ngIf="showBooksTable" [tableParams]="showBooksTableParams" (linkClick)="openBook()"></app-table>
  <app-book *ngIf="showBook"></app-book>
  <app-add-book *ngIf="showAddBook && AT!=0"></app-add-book>
  <br>
</div>