.mat-card {
    text-align: center;
}

.content {
    margin: auto;
}

.mat-form-field {
    width: 45%;
}

.mat-radio-button  {
    margin-left: 15px;
}

.mat-header-cell {
    text-align: center;
}

.specialTable {
    margin: auto;
}

.mat-cell {
    width: 30%;
  }