<div>
    <div>
        <label>Ime Preduzeca:</label><br>
        <input type="text" [(ngModel)]="ime" placeholder="Milan Plastik"><br>
    </div>
    <div>
        <label>Skracen Naziv Preduzeca:</label><br>
        <input type="text" [(ngModel)]="skracenica" placeholder="MPlast"><br>
    </div>
    <div>
        <label>Lozinka:</label><br>
        <input type="password" [(ngModel)]="lozinka" placeholder="********"><br>
    </div>
    <div>
        <label>Datum Osnivanja:</label><br>
        <input type="date" [(ngModel)]="datumOsnivanja"><br>
    </div>
    <div>
        <label>Mesto:</label><br>
        <input type="text" [(ngModel)]="mesto" placeholder="Kragujevac"><br>
    </div>
    <div>
        <label>email Adresa:</label><br>
        <input type="email" [(ngModel)]="emailAdresa" placeholder="MPlast@gmail.com"><br>
    </div>
    <button (click)="register()"> Zavrsi registraciju </button>
</div>