<mat-card class="mat-elevation-z8 specialTable">
    <table mat-table [dataSource]='tableData' class="specialTable">

        <ng-container *ngFor="let string of searchParams" [matColumnDef]="string">
            <th mat-header-cell *matHeaderCellDef> {{ headerMap[string] }} </th>
            <td mat-cell *matCellDef="let Object">
                <a *ngIf="string == linkParam" [routerLink]=""
                    (click)='openSelected(Object[string])'>{{ Object[string] }}</a>
                <Label *ngIf="string != linkParam">{{ Object[string] }}</Label>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="searchParams"></tr>
        <tr mat-row *matRowDef="let row; columns: searchParams;"></tr>
    </table>
</mat-card>